<% if @place_name != nil && @place_name != '' %>
    <div class='popup_info'><%= @place_name %> has been added</div>
<% end %>

<% if @error != nil && @error != '' %>
    <div class='popup_error'><%= @error %></div>
<% end %>


<div style="margin: 0px auto; width: 600px; border: 1px solid silver; min-height: 500px; margin-top: 0px; background-color: #E1E1E1">

  <div id="entry_menu" style="width: 600px; font-size: 0.8em; margin-top: 0px; border-bottom: 1px solid #acadb7;">
    <%
      search_highlight_class = ''
      new_place_highlight_class = ''
      if @type == nil || @type == 'search'
        search_highlight_class = 'highlight'
        new_place_highlight_class = 'noHighlight'
      else
        search_highlight_class = 'noHighlight'
        new_place_highlight_class = 'highlight'
      end
    %>
    <ul>
      <li style="margin-left: 5px"><%= link_to "Search Place", place_popup_path({:type => 'search', :place_field => @place_field}), class: search_highlight_class %></li>
      <li style=""><%= link_to "Add Place", place_popup_path({:type => 'new_place', :place_field => @place_field}), class: new_place_highlight_class %></li>
    </ul>
  </div>

  <div style="background-color: #E1E1E1; padding-top: 30px; margin-left: 20px; margin-bottom: 20px">

    <% if @type == nil || @type == 'search' %>

        <div style="font-size: 0.85em;">

          <%= form_tag place_popup_search_path do |f| %>

              <div class="search_box" style="">
                Enter Name:&nbsp;
                <%= text_field_tag 'search_term', nil, class: 'text_field_search', id: 'search_box' %>
                &nbsp;&nbsp;<%= submit_tag 'Search' %>
              </div>

              <input type="hidden" name="place_field" value="<%= @place_field %>" />

          <% end %>

          <div style="margin-top: 20px; margin-left: 2px">

            <%
               if @search_results_hash != nil && @search_results_hash != ''
            %>

                Search term = <strong><%= @search_term %></strong>

                <%
                   @search_results_hash.each do |element|
                     family_name = element[0]
                     id = element[1]
                %>
                    <div style="padding-top: 5px"><em><a href='#' onclick='post_value("<%= family_name %>", "<%= id %>", "<%= @place_field %>")'><%= family_name %></a>
                    </em></div>
            <%
                end
              end
            %>

            <script>
                window.onload = function () {
                    document.getElementById("search_box").focus();
                };
            </script>
          </div>
        </div>

    <% else %>

        <%= form_for @place, url: place_popup_create_path, method: 'POST' do |f| %>

            <div class='tab1'>

              <table cellspacing="0" style="width: 500px">

                <%# Person ADM1 %>
                <tr>
                  <th style="width: 150px">*Parent ADM1:</th>
                  <td>
                    <%= text_field_tag "place[parent_ADM1]", @place.parent_ADM1 %>
                  </td>
                </tr>

                <%# Person ADM2 %>
                <tr>
                  <th>Parent ADM2:</th>
                  <td>
                    <%= text_field_tag "place[parent_ADM2]", @place.parent_ADM2 %>
                  </td>
                </tr>

                <%# Person ADM3 %>
                <tr>
                  <th>Parent ADM3:</th>
                  <td>
                    <%= text_field_tag "place[parent_ADM3]", @place.parent_ADM3 %>
                  </td>
                </tr>

                <%# Person ADM4 %>
                <tr>
                  <th>Parent ADM4:</th>
                  <td>
                    <%= text_field_tag "place[parent_ADM4]", @place.parent_ADM4 %>
                  </td>
                </tr>

                <%# Parent Country %>
                <tr>
                  <th>Parent Country:</th>
                  <td>
                    <%= text_field_tag "place[parent_country]", @place.parent_country %>
                  </td>
                </tr>

                <%# Feature Code %>
                <tr>
                  <th>Feature Code:</th>
                  <td>
                    <%= text_field_tag "place[feature_code][]", @place.feature_code %>
                  </td>
                </tr>

                <%# Same As %>
                <tr>
                  <th>Same As:</th>
                  <td>
                    <%= text_field_tag "place[same_as][]", @place.same_as %>
                  </td>
                </tr>

                <%# Related Authority %>
                <tr>
                  <th>Related Authority:</th>
                  <td>
                    <%= text_field_tag "place[related_authority][]", @place.related_authority %>
                  </td>
                </tr>

                <%# Variant Names %>
                <tr>
                  <th>Variant Names:</th>
                  <td>
                    <%= text_field_tag "place[altlabel][]", @place.altlabel %>
                  </td>
                </tr>

              </table>

              <p>
                <%= f.submit 'Submit' %>
              </p>

            </div>

            <input type="hidden" name="place_field" value="<%= @place_field %>" />

        <% end %>

    <% end %>

  </div>

</div>