<div class="popup" style="min-height: 500px">

  <div class="popup_title">View Person</div>

  <div><%= button_to "Back to Search Page", people_path, method: :get %></div>

  <div style="clear: both"></div>

  <div class='tab1 popup_view' style="margin-top: 10px">

    <table cellspacing="0" style="width: 100%; font-size: 0.95em">

      <%# Family Name %>
      <tr>
        <th style="width: 150px">*Family Name:</th>
        <td>
          <%= @person.family %>
        </td>
      </tr>

      <%# Pre-Title %>
      <tr>
        <th style="width: 150px">Pre-Title:</th>
        <td>
          <%= @person.pre_title %>
        </td>
      </tr>

      <%# Given Name %>
      <tr>
        <th style="width: 150px">Given Name:</th>
        <td>
          <%= @person.given_name %>
        </td>
      </tr>

      <%# Dates %>
      <tr>
        <th>Dates:</th>
        <td>
          <%= @person.dates %>
        </td>
      </tr>

      <%# Title %>
      <tr>
        <th>Title:</th>
        <td>
          <%= @person.post_title %>
        </td>
      </tr>

      <%# Epithet %>
      <tr>
        <th>Epithet:</th>
        <td>
          <%= @person.epithet %>
        </td>
      </tr>

      <%# Same As %>
      <tr>
        <th>Same As:</th>
        <td>
          <div class="field_group">
            <% @person.same_as.each do |same_as| %>
                <div class="field_single">
                  <%= same_as %>
                </div>
            <% end %>
          </div>
        </td>
      </tr>

      <%# Related Authority %>
      <tr>
        <th>Related Authority:</th>
        <td>
          <div class="field_group">
            <% @person.same_as.each do |same_as| %>
                <div class="field_single">
                  <%= same_as %>
                </div>
            <% end %>
          </div>
        </td>
      </tr>

      <%# Variant Names %>
      <%# Note that this is 'altlabel' in the model %>
      <tr>
        <th>Variant Names:</th>
        <td>
          <div class="field_group">
            <% @person.altlabel.each do |altlabel| %>
                <div class="field_single">
                  <%= altlabel %>
                </div>
            <% end %>
          </div>
        </td>
      </tr>

    </table>
  </div>

  <div style="float: left"><%= button_to 'Edit', edit_person_path(@person), :method => :get, :class => 'buttonTo', style: 'margin-top: 10px' %>&nbsp;</div>

  <div style="clear: both"></div>

</div>
