<div class='nested-fields duplicatable_nested_form'>

  <table cellspacing='0'>

    <%# Date Type %>
    <tr>
      <td style='width: 150px'>Date Type*</td>
      <td>
        <%
           @date_type_list = @read_date_type.collect { |l| [l['label']] }
           @date_type_list.unshift(['--- select ---', ''])
        %>
        <%= f.select :date_type, @date_type_list %>
      </td>
    </tr>

    <%# Date as Written %>
    <tr>
      <td>Date as Written*</td>
      <td><%= f.text_field :date_as_written %></td>
    </tr>

    <%# Date Span %>
    <tr>
      <td>Date Span*</td>
      <td><%= f.text_field :date_span %></td>
    </tr>

    <%# Date Certainty %>
    <tr>
      <td>Date Certainty</td>
      <td><%= f.text_field :date_certainty %></td>
    </tr>

    <%# Date %>
    <tr>
      <td>Date*</td>
      <td>
        <%= f.text_field :date, :class => 'datePicker', :style => 'width: 150px' %>
      </td>
    </tr>

    <%# Note %>
    <tr>
      <td>Note:</td>
      <td><%= f.text_field :note %></td>
    </tr>

  </table>

  <div class='delete_icon'><%= link_to_remove_association image_tag('delete.png', :class => 'delete_icon'), f, :tabIndex => "-1" %></div>
</div>
