<div class='tab1'>

    <%
       # This instantiates the Terms class which is used to dereference ids
       terms = TermsBase.new('subauthority')
    %>

    <% if @errors != nil && @errors != '' %>

        <div class='error'>

            <%
               # Split the error string by '|' to get the individual errors
               # If the error includes the text 'Length' display the maximum length error
               # else display the mandatory field error
               err = @errors.split('|')
               err.each do |e|
                 if e != ''
                   if e =~ /Length/
                     e2 = e.split('_')[0]
                     max_length = e.split('_')[1]
                     max_length = e.split('_')[1]
                     max_length = max_length.sub 'Length', ''
            %>
                        '<%= e2 %>' exceeds maximum length (<%= max_length %>)<br/>
                    <%
                       else
                    %>
                        Please enter a value for '<%= e %>'<br/>
                    <%
                       end
                       end
                       end
                    %>
        </div>
    <% end %>

    <%
       button_str = ''
       if @is_entry_on_next_folio == false
         button_str = 'Update the current form and continue on to the next folio?'
       else
         button_str = 'An entry already exists on the next folio - do you want to continue?'
       end
    %>

  <%
    if @form_type == 'NEW'
      form_url = 'entries_path(@db_entry)'
      form_method = ':post'
    else
      form_url = 'entry_path(@db_entry)'
      form_method = ':patch'
    end
  %>

  <%= form_for @db_entry, url: eval(form_url), method: eval(form_method) do |f| %>

      <input type="hidden" name="entry[folio]" value="<%= session[:folio_id] %>"/>

        <div id='form_modified'>

            <div class='field'>

                <table cellspacing='0'>

                    <tr class='noth'>
                        <th colspan='2' id='entry_menu'>
                            <ul>
                                <li style='margin-left: 3px'></li>

                                <% if @form_type == 'NEW' %>

                                    <% @entry_list.each do |entry| %>
                                      <%
                                        entry_id = entry[0]
                                        entry_no = entry[1]
                                      %>
                                        <li>
                                            <span class='nohighlight'><%= link_to entry_no, entry_path(entry_id) %></span>
                                        </li>
                                    <% end %>
                                    <li><span class='highlight'>New Entry</span></li>
                                <% else %>
                                    <% @entry_list.each_with_index do |entry, index| %>
                                        <%
                                           entry_id = entry[0]
                                           entry_no = entry[1]
                                           str = ''
                                           if @folio_continues_id == entry_no
                                             str = ' (continues)'
                                           end
                                        %>
                                        <% if entry_id == @db_entry.entry_id %>
                                            <li><span class='highlight'><%= entry_no.to_s + str %></span></li>
                                        <% else %>
                                            <li>
                                                <span class='nohighlight'><%= link_to entry_no.to_s + str, edit_entry_path(entry_id) %></span>
                                            </li>
                                        <% end %>
                                    <% end %>
                                    <li>
                                        <% if @folio_continues_id == '' %>
                                      <span class='nohighlight'>
                                      <%= link_to 'New Entry', new_entry_path, {:title => 'Create new entry'} %>
                                      </span>
                                        <% end %>
                                    </li>
                                <% end %>
                                <li style='float: right; height: 1px'>
                                    <a href='#' onclick='info("Help Text"); return false'><%= image_tag "help_icon.png", :class => 'help_icon', :title => 'Help for form fields' %></a>
                                </li>
                            </ul>
                        </th>
                    </tr>

                  <tr>
                    <th colspan='2' id="entry_menubar">
                   <span class='edit_button'>
				   <% if @form_type == 'NEW' %>
				    <%= f.submit 'Submit' %>
                      <%= f.submit 'Continue', :onclick => "return confirm('" + button_str + "')" %>
                      <%= f.submit 'Back' %>
				  <% else %>
				    <%= f.submit 'Update' %>
                      <% if @is_last_entry == true && @folio_continues_id == '' %>
                      <%= f.submit 'Continue', :onclick => "return confirm('" + button_str + "')" %>
                    <% end %>
                      <%= f.submit 'Back to View' %>
				  <% end %>
				</span>
                    </th>
                  </tr>

                    <%# Entry No %>
                    <tr>
                        <th style="width: 145px">Entry No:</th>
                        <td>
                            <%= @db_entry.entry_no %>
                            <%#= f.hidden_field :entry[entry_no], :value => @db_entry.entry_no %>
                            <input type="hidden" name="entry[entry_no]" value="<%= @db_entry.entry_no %>"/>
                            <input type="hidden" name="entry[entry_id]" value="<%= @db_entry.entry_id %>"/>
                        </td>
                    </tr>

                    <%# Entry Type %>
                    <tr>
                      <th>Entry Type:
                        <img src="/assets/plus_sign.png" alt="plus icon" class="plus_icon click_select_field_button" jq_type="entry_type" jq_entry_type_list="<%= @entry_type_list.to_json %>"/>
                      </th>
                      <td>
                        <div class="field_group">
                          <% @db_entry.db_entry_types.each do |entry_type| %>
                              <div class="field_single">
                                <%= select_tag 'entry[entry_type][]', options_for_select(@entry_type_list.collect { |entry_type| [entry_type["label"].join(''), entry_type["id"]] }.insert(0, ["--- select ---", ""]), entry_type.name) %>
                                <img alt="Delete icon" src="/assets/delete.png" class="delete_icon_select click_remove_field_level1" jq_tag_type="select">
                              </div>
                          <% end %>
                        </div>
                      </td>
                    </tr>

                    <%# Section Type %>
                    <tr>
                        <th>Section Type:
                            <img src="/assets/plus_sign.png" alt="plus icon" class="plus_icon click_select_field_button" jq_type="section_type" jq_section_type_list="<%= @section_type_list.to_json %>"/>
                        </th>
                        <td>
                            <div class="field_group">
                                <% @db_entry.db_section_types.each do |section_type| %>
                                    <div class="field_single">
                                        <%= select_tag 'entry[section_type][]', options_for_select(@section_type_list.collect { |section_type| [section_type["label"].join(''), section_type["id"]] }.insert(0, ["--- select ---", ""]), section_type.name) %>
                                        <img alt="Delete icon" src="/assets/delete.png" class="delete_icon_select click_remove_field_level1" jq_tag_type="select">
                                    </div>
                                <% end %>
                            </div>
                        </td>
                    </tr>

                    <%# Continues On %>
                    <% if @is_last_entry == true %>
                        <tr>
                            <th>Continues on next folio:</th>
                            <td>
                                <% if @db_entry.continues_on != nil && @db_entry.continues_on != '' %>
                                    <%= image_tag 'tick.png' %>
                                <% end %>
                            </td>
                        </tr>
                    <% end %>

                    <%# Summary %>
                    <tr>
                        <th>Summary:
                        </th>
                        <td>
                            <%= text_area_tag "entry[summary]", @db_entry.summary, id: '' %>
                        </td>
                    </tr>

                    <%# Marginalia %>
                    <tr>
                        <th>Marginalia:
                            <img src="/assets/plus_sign.png" alt="plus icon" class="plus_icon click_multiple_text_area_field_button" jq_type="marginalia"/>
                        </th>
                        <td>
                            <div class="field_group">
                                <% @db_entry.db_marginalia.each do |marginalia| %>
                                    <div class="field_single">
                                        <%= text_area_tag "entry[marginalia][]", marginalia.name, id: '' %>
                                        <img alt="Delete icon" src="/assets/delete.png" class="delete_icon click_remove_field_level1" jq_tag_type="textarea">
                                    </div>
                                <% end %>
                            </div>
                        </td>
                    </tr>

                    <%# Language %>
                    <tr>
                        <th>Language:
                            <img src="/assets/plus_sign.png" alt="plus icon" class="plus_icon click_select_field_button" jq_type="language" jq_language_list="<%= @language_list.to_json %>"/>
                        </th>
                        <td>
                            <div class="field_group">
                                <% @db_entry.db_languages.each do |language| %>
                                    <div class="field_single">
                                        <%= select_tag 'entry[language][]', options_for_select(@language_list.collect { |language| [language["label"].join(''), language["id"]] }.insert(0, ["--- select ---", ""]), language.name) %>
                                        <img alt="Delete icon" src="/assets/delete.png" class="delete_icon_select click_remove_field_level1" jq_tag_type="select">
                                    </div>
                                <% end %>
                            </div>
                        </td>
                    </tr>

                    <%# Subject %>
                    <tr>
                        <th>Subject:
                            <img src="/assets/plus_sign.png" alt="plus icon" class="plus_icon click_multiple_subject_field_button" jq_type="subject"/>
                        </th>
                        <td>
                            <div class="field_group">
                                <% @db_entry.db_subjects.each_with_index do |subject, index| %>
                                    <div class="field_single">
                                        <a href='#' onclick="popup('/subjects?subject_field=subject_<%= index.to_s %>', 'subject'); return false;" tabindex="-1"><%= image_tag "magnifying_glass_small.png", class: "plus_icon" %></a>
                                        <span id="subject_<%= index.to_s %>">
                                          <%= terms.get_str_from_id(subject.name, 'preflabel_tesim') %>
                                        </span>
                                        <%= hidden_field_tag "entry[subject][]", subject.name, id: 'subject_' + index.to_s + '_hidden' %>
                                        <img alt="Delete icon" src="/assets/delete.png" class="delete_icon click_remove_field_level1" jq_tag_type="input">
                                    </div>
                                <% end %>
                            </div>
                        </td>
                    </tr>

                    <%# Note %>
                    <tr>
                        <th>Note:
                            <img src="/assets/plus_sign.png" alt="plus icon" class="plus_icon click_multiple_text_area_field_button" jq_type="note"/>
                        </th>
                        <td>
                            <div class="field_group">
                                <% @db_entry.db_notes.each do |note| %>
                                    <div class="field_single">
                                        <%= text_area_tag "entry[note][]", note.name, id: '' %>
                                        <img alt="Delete icon" src="/assets/delete.png" class="delete_icon click_remove_field_level1" jq_tag_type="textarea">
                                    </div>
                                <% end %>
                            </div>
                        </td>
                    </tr>

                    <%# Editorial Note %>
                    <tr>
                        <th>Editorial Note:
                            <img src="/assets/plus_sign.png" alt="plus icon" class="plus_icon click_multiple_text_area_field_button" jq_type="editorial_note"/>
                        </th>
                        <td>
                            <div class="field_group">
                                <% @db_entry.db_editorial_notes.each do |editorial_note| %>
                                    <div class="field_single">
                                        <%= text_area_tag "entry[editorial_note][]", editorial_note.name, id: '' %>
                                        <img alt="Delete icon" src="/assets/delete.png" class="delete_icon click_remove_field_level1" jq_tag_type="textarea">
                                    </div>
                                <% end %>
                            </div>
                        </td>
                    </tr>

                    <%# Referenced By %>
                    <tr>
                        <th>Referenced By:
                            <img src="/assets/plus_sign.png" alt="plus icon" class="plus_icon click_multiple_field_button" jq_type="is_referenced_by"/>
                        </th>
                        <td>
                            <div class="field_group">
                                <% @db_entry.db_is_referenced_bys.each do |is_referenced_by| %>
                                    <div class="field_single">
                                        <%= text_field_tag "entry[is_referenced_by][]", is_referenced_by.name, id: '' %>
                                        <img alt="Delete icon" src="/assets/delete.png" class="delete_icon click_remove_field_level1" jq_tag_type="input">
                                    </div>
                                <% end %>
                            </div>
                        </td>
                    </tr>

                    <%# Entry Date %>
                    <tr>

                        <th>
                          Entry Date:
                          <img src="/assets/plus_sign.png" alt="plus icon" class="plus_icon click_date_button" jq_date_certainty_list="<%= @date_certainty_list %>" jq_single_date_list="<%= @single_date_list %>" jq_date_role_list="<%= @date_role_list.to_json %>" jq_rdftype='["http://dlib.york.ac.uk/ontologies/borthwick-registers#EntryDate"]'/>
                        </th>

                        <td class="tab2">

                            <div class="field_group">

                                <% @db_entry.db_entry_dates.each_with_index do |entry_date, index1| %>

                                    <div class="field_single  no_padding">

                                        <table class="tab3">

                                            <tr>
                                                <th>Date:
                                                    <img src="/assets/plus_sign.png" alt="plus icon" class="plus_icon click_single_date_button" jq_index="<%= index1 %>" jq_date_certainty_list="<%= @date_certainty_list %>" jq_single_date_list="<%= @single_date_list %>" jq_rdftype='["http://dlib.york.ac.uk/ontologies/borthwick-registers#SingleDate"]'/>
                                                </th>
                                                <td>
                                                    <div class="field_group grey_box single_date">
                                                        <% entry_date.db_single_dates.each_with_index do |single_date, index2| %>
                                                            <div class="field_single">
                                                                <table>

                                                                    <%# Date %>
                                                                    <tr>
                                                                       <th style='width: 120px'>Date (yyyy/mm/dd):</th>
                                                                        <td class="input_single"><%= text_field_tag "entry[entry_dates_attributes][" + index1.to_s + "][single_dates_attributes][" + index2.to_s + "][date]", single_date.date, id: '' %></td>
                                                                    </tr>

                                                                    <%# Date Certainty %>
                                                                    <tr>
                                                                        <th>Certainty:
                                                                            <img src="/assets/plus_sign.png" alt="plus icon" class="plus_icon click_select_field_button_date_certainty" jq_attributes="single_date_attributes" jq_index="<%= index1 %>" jq_index2="<%= index2 %>" jq_type="date_certainty" jq_date_certainty_list="<%= @date_certainty_list %>"/>
                                                                        </th>
                                                                        <td>
                                                                            <div class="field_group_date_certainty grey_box">
                                                                                <% single_date.db_date_certainties.each_with_index do |date_certainty, index3| %>
                                                                                    <div class="field_single">
                                                                                        <%= select_tag "entry[entry_dates_attributes][" + index1.to_s + "][single_dates_attributes][" + index2.to_s + "][date_certainty][]", options_for_select(@date_certainty_list.collect { |date_certainty| [date_certainty[0]] }.insert(0, ["--- select ---", ""]), date_certainty.name) %>
                                                                                        <img alt="Delete icon" src="/assets/delete.png" class="delete_icon_select click_remove_field_level1" jq_tag_type="select">
                                                                                    </div>
                                                                                <% end %>
                                                                            </div>
                                                                        </td>
                                                                    </tr>

                                                                    <%# Date Type %>
                                                                    <tr>
                                                                        <th>Type:</th>
                                                                        <td>
                                                                            <%= select_tag "entry[entry_dates_attributes][" + index1.to_s + "][single_dates_attributes][" + index2.to_s + "][date_type]", options_for_select(@single_date_list.collect { |date_type| [date_type[0]] }.insert(0, ["--- select ---", ""]), single_date.date_type) %>
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <input type="hidden" id="hidden_field" name="entry[entry_dates_attributes][<%= index1.to_s %>][single_dates_attributes][<%= index2.to_s %>][rdftype]" value="<%= single_date.add_rdf_types %>">
                                                                    </tr>
                                                                </table>
                                                                &nbsp;<img src='/assets/delete.png' alt='Delete icon' class='delete_icon click_remove_field_date' jq_index1="<%= index1 %>">
                                                                <input type="hidden" id="hidden_field" name="entry[entry_dates_attributes][<%= index1.to_s %>][single_dates_attributes][<%= index2.to_s %>][single_date_id]" value="<%= single_date.single_date_id %>">

                                                                <div style="clear: both"></div>
                                                            </div>
                                                        <% end %>
                                                    </div>
                                                </td>
                                            </tr>

                                            <tr>
                                                <th>Date Role:</th>
                                                <td>
                                                    <%= select_tag "entry[entry_dates_attributes][" + index1.to_s + "][date_role]", options_for_select(@date_role_list.collect { |date_role| [date_role["label"].join(''), date_role["id"]] }.insert(0, ["--- select ---", ""]), entry_date.date_role) %>
                                                </td>
                                            </tr>

                                            <tr>
                                                <th>Note:</th>
                                                <td class="input_single">
                                                    <%= text_area_tag "entry[entry_dates_attributes][" + index1.to_s + "][date_note]", entry_date.date_note, id: '' %>
                                                </td>
                                            </tr>
                                            <tr>
                                                <input type="hidden" id="hidden_field" name="entry[entry_dates_attributes][<%= index1.to_s %>][rdftype]" value="<%= entry_date.add_rdf_types %>">
                                            </tr>
                                        </table>

                                        <img src='/assets/delete.png' class='delete_icon click_remove_field_level2' params_type='entry_dates' alt='Delete icon'>

                                        <input type="hidden" id="hidden_field" name="entry[entry_dates_attributes][<%= index1.to_s %>][date_id]" value="<%= entry_date.date_id %>">
                                    </div>
                                <% end %>
                            </div>
                        </td>
                    </tr>

                    <%# Related Place %>
                    <tr>

                        <th>Place:
                            <img src="/assets/plus_sign.png" alt="plus icon" class="plus_icon click_place_button" jq_place_type_list="<%= @place_type_list.to_json %>" jq_place_role_list="<%= @place_role_list.to_json %>" jq_rdftype='["http://dlib.york.ac.uk/ontologies/borthwick-registers#RelatedPlace","http://schema.org/Place"]'/>
                        </th>

                        <td class="tab2">

                            <div class="field_group">

                                <% @db_entry.db_related_places.each_with_index do |related_place, index1| %>

                                    <div class="field_single no_padding">

                                        <table class="tab3">

                                          <%# Place As Written %>
                                          <tr>
                                            <th>
                                              *As Written:
                                              <img src="/assets/plus_sign.png" alt="plus icon" class="plus_icon click_multiple_field_button_level2" jq_attributes="related_places_attributes" jq_index="<%= index1 %>" jq_type="place_as_written" %>
                                            </th>
                                            <td>
                                              <div class="field_group grey_box place_as_written_block">
                                                <% related_place.db_place_as_writtens.each_with_index do |place_as_written, index2| %>
                                                    <div class="field_single">
                                                      <input type="text" name="entry[related_places_attributes][<%= index1.to_s %>][place_as_written][]" value="<%= place_as_written.name %>" class="place_as_written">
                                                      &nbsp;<img src='/assets/delete.png' alt='Delete icon' class='delete_icon click_remove_field_level1' jq_tag_type='input'>
                                                    </div>
                                                <% end %>
                                              </div>
                                            </td>
                                          </tr>

                                            <%# Place Name Authority (Same As) %>
                                            <tr>
                                                <th style="width: 110px">Place Name Authority:</th>
                                                <td class="input_single">
                                                  <a href='#' onclick="popup('/places?start=true&amp;place_field=place_<%= index1 %>', 'place'); return false;" tabindex="-1"><%= image_tag "magnifying_glass_small.png", class: "plus_icon" %></a>
                                                  <span id="place_<%= index1 %>">
                                                  <% if related_place.place_same_as != nil %>
                                                    <%= terms.get_place_same_as(related_place.place_same_as) %>
                                                  <% end %>
                                                  </span>
                                                  <%= hidden_field_tag "entry[related_places_attributes][" + index1.to_s + "][place_same_as]", related_place.place_same_as, id: 'place_' + index1.to_s + '_hidden' %>
                                                  <div style="float: right; margin-right: 6px">
                                                    <img src='/assets/delete.png' alt='Delete icon' class='delete_icon' onclick="remove_authority('place', '<%= index1 %>'); return false">
                                                  </div>
                                                </td>
                                            </tr>

                                            <%# Place Role %>
                                            <tr>
                                                <th>
                                                    Place Role:
                                                    <img src="/assets/plus_sign.png" alt="plus icon" class="plus_icon click_select_field_button_level2" jq_attributes="related_places_attributes" jq_index="<%= index1 %>" jq_type="place_role" jq_place_role_list="<%= @place_role_list.to_json %>"/>
                                                </th>
                                                <td>
                                                    <div class="field_group grey_box">
                                                        <% related_place.db_place_roles.each_with_index do |place_role, index2| %>
                                                            <div class="field_single">
                                                                <%= select_tag "entry[related_places_attributes][" + index1.to_s + "][place_role][]", options_for_select(@place_role_list.collect { |place_role| [place_role["label"].join(''), place_role["id"]] }.insert(0, ["--- select ---", ""]), place_role.name) %>
                                                                <img src='/assets/delete.png' alt='Delete icon' class='delete_icon_select click_remove_field_level1' jq_tag_type='select'>
                                                            </div>
                                                        <% end %>
                                                    </div>
                                                </td>
                                            </tr>

                                          <%# Place Type %>
                                            <tr>
                                                <th>
                                                    Place Type:
                                                    <img src="/assets/plus_sign.png" alt="plus icon" class="plus_icon click_select_field_button_level2" jq_attributes="related_places_attributes" jq_index="<%= index1 %>" jq_type="place_type" jq_place_type_list="<%= @place_type_list.to_json %>"/>
                                                </th>
                                                <td>
                                                    <div class="field_group grey_box">
                                                        <% related_place.db_place_types.each_with_index do |place_type, index2| %>
                                                            <div class="field_single">
                                                                <%= select_tag "entry[related_places_attributes][" + index1.to_s + "][place_type][]", options_for_select(@place_type_list.collect { |place_type| [place_type["label"].join(''), place_type["id"]] }.insert(0, ["--- select ---", ""]), place_type.name) %>
                                                                <img src='/assets/delete.png' alt='Delete icon' class='delete_icon_select click_remove_field_level1' jq_tag_type='select'>
                                                            </div>
                                                        <% end %>
                                                    </div>
                                                </td>
                                            </tr>

                                          <%# Place Note %>
                                            <tr>
                                                <th>
                                                    Note:
                                                    <img src="/assets/plus_sign.png" alt="plus icon" class="plus_icon click_multiple_text_area_button_level2" jq_attributes="related_places_attributes" jq_index="<%= index1 %>" jq_type="place_note"/>
                                                </th>
                                                <td>
                                                    <div class="field_group grey_box">
                                                        <% related_place.db_place_notes.each_with_index do |place_note, index2| %>
                                                            <div class="field_single">
                                                                <%= text_area_tag "entry[related_places_attributes][" + index1.to_s + "][place_note][]", place_note.name, id: '' %>
                                                                &nbsp;<img src='/assets/delete.png' alt='Delete icon' class='delete_icon click_remove_field_level1' jq_tag_type='textarea'>
                                                            </div>
                                                        <% end %>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <input type="hidden" id="hidden_field" name="entry[related_places_attributes][<%= index1.to_s %>][rdftype]" value="<%= related_place.add_rdf_types %>">
                                            </tr>
                                        </table>

                                        <img src='/assets/delete.png' class='delete_icon click_remove_field_level2' params_type='related_places' alt='Delete icon'>

                                        <input type="hidden" id="hidden_field" name="entry[related_places_attributes][<%= index1.to_s %>][place_id]" value="<%= related_place.place_id %>">
                                    </div>
                                <% end %>
                            </div>
                        </td>
                    </tr>

                    <%# Related Person %>
                    <tr>

                        <th>Person:
                            <img src="/assets/plus_sign.png" alt="plus icon" class="plus_icon click_person_button" jq_role_list="<%= @role_list.to_json %>" jq_descriptor_list="<%= @descriptor_list.to_json %>" jq_gender_list="<%= @gender_list %>" jq_person_group_list="<%= @person_group_list %>" jq_rdftype='["http://dlib.york.ac.uk/ontologies/borthwick-registers#RelatedAgent","http://xmlns.com/foaf/0.1/Person"]'/>
                        </th>

                        <td class="tab2">

                            <div class="field_group">

                                <% @db_entry.db_related_agents.each_with_index do |related_person, index1| %>

                                    <div class="field_single no_padding">

                                        <table class="tab3">

                                            <%# Person As Written %>
                                            <tr>
                                                <th>
                                                    *As Written:
                                                    <img src="/assets/plus_sign.png" alt="plus icon" class="plus_icon click_multiple_field_button_level2" jq_attributes="related_agents_attributes" jq_index="<%= index1 %>" jq_type="person_as_written"/>
                                                </th>
                                                <td>
                                                    <div class="field_group grey_box person_as_written_block">
                                                        <% related_person.db_person_as_writtens.each_with_index do |person_as_written, index2| %>
                                                            <div class="field_single">
                                                              <input type="text" name="entry[related_agents_attributes][<%= index1.to_s %>][person_as_written][]" value="<%= person_as_written.name %>" class="person_as_written">
                                                              &nbsp;<img src='/assets/delete.png' alt='Delete icon' class='delete_icon click_remove_field_level1' jq_tag_type='input'>
                                                            </div>
                                                        <% end %>
                                                    </div>
                                                </td>
                                            </tr>

                                          <%# Person Related Authority (Same As) %>
                                          <tr>
                                            <th style="width: 110px">Person Name Authority:</th>
                                            <td class="input_single">
                                              <a href='#' onclick="popup('/people?start=true&amp;person_field=person_<%= index1 %>', 'person'); return false;" tabindex="-1"><%= image_tag "magnifying_glass_small.png", class: "plus_icon" %></a>
                                                  <span id="person_<%= index1 %>">
                                                  <% if related_person.person_same_as != nil %>
                                                    <%= terms.get_person_same_as(related_person.person_same_as) %>
                                                  <% end %>
                                                  </span>
                                              <%= hidden_field_tag "entry[related_agents_attributes][" + index1.to_s + "][person_same_as]", related_person.person_same_as, id: 'person_' + index1.to_s + '_hidden' %>
                                              <div style="float: right; margin-right: 6px">
                                                <img src='/assets/delete.png' alt='Delete icon' class='delete_icon' onclick="remove_authority('person', '<%= index1 %>'); return false">
                                              </div>
                                            </td>
                                          </tr>

                                          <%# Person Group %>
                                          <tr>
                                            <th>Person / Group:</th>
                                            <td>
                                              <%= select_tag "entry[related_agents_attributes][" + index1.to_s + "][person_group]", options_for_select(@person_group_list.collect { |gender| [gender[0]] }, related_person.person_group) %>
                                            </td>
                                          </tr>

                                            <%# Person Gender %>
                                            <tr>
                                                <th>Gender:</th>
                                                <td>
                                                    <%= select_tag "entry[related_agents_attributes][" + index1.to_s + "][person_gender]", options_for_select(@gender_list.collect { |gender| [gender[0]] }.insert(0, ["--- select ---", ""]), related_person.person_gender) %>
                                                </td>
                                            </tr>

                                            <%# Person Role %>
                                            <tr>
                                                <th>Person Role:
                                                    <img src="/assets/plus_sign.png" alt="plus icon" class="plus_icon click_select_field_button_level2" jq_attributes="related_agents_attributes" jq_index="<%= index1 %>" jq_type="person_role" jq_role_list="<%= @role_list.to_json %>"/>
                                                </th>
                                                <td>
                                                    <div class="field_group grey_box">
                                                        <% related_person.db_person_roles.each_with_index do |person_role, index2| %>
                                                            <div class="field_single">
                                                                <%= select_tag "entry[related_agents_attributes][" + index1.to_s + "][person_role][]", options_for_select(@role_list.collect { |role| [role["label"].join(''), role["id"]] }.insert(0, ["--- select ---", ""]), person_role.name) %>
                                                                <img alt="Delete icon" src="/assets/delete.png" class="delete_icon_select click_remove_field_level1" jq_tag_type="select">
                                                            </div>
                                                        <% end %>
                                                    </div>
                                                </td>
                                            </tr>

                                            <%# Person Descriptor %>
                                            <tr>
                                                <th>*Descriptor:
                                                    <img src="/assets/plus_sign.png" alt="plus icon" class="plus_icon click_select_field_button_level2" jq_attributes="related_agents_attributes" jq_index="<%= index1 %>" jq_type="person_descriptor" jq_descriptor_list="<%= @descriptor_list.to_json %>"/>
                                                </th>
                                                <td>
                                                    <div class="field_group grey_box">
                                                        <% related_person.db_person_descriptors.each_with_index do |person_descriptor, index2| %>
                                                            <div class="field_single">
                                                                <%= select_tag "entry[related_agents_attributes][" + index1.to_s + "][person_descriptor][]", options_for_select(@descriptor_list.collect { |descriptor| [descriptor["label"].join(''), descriptor["id"]] }.insert(0, ["--- select ---", ""]), person_descriptor.name) %>
                                                                <img alt="Delete icon" src="/assets/delete.png" class="delete_icon_select click_remove_field_level1" jq_tag_type="select">
                                                            </div>
                                                        <% end %>
                                                    </div>
                                                </td>
                                            </tr>

                                            <%# Person Descriptor As Written %>
                                            <tr>
                                                <th>
                                                    Descriptor As Written:
                                                    <img src="/assets/plus_sign.png" alt="plus icon" class="plus_icon click_multiple_field_button_level2" jq_attributes="related_agents_attributes" jq_index="<%= index1 %>" jq_type="person_descriptor_as_written"/>
                                                </th>
                                                <td>
                                                    <div class="field_group grey_box">
                                                        <% related_person.db_person_descriptor_as_writtens.each_with_index do |person_descriptor_as_written, index2| %>
                                                            <div class="field_single">
                                                                <%= text_field_tag "entry[related_agents_attributes][" + index1.to_s + "][person_descriptor_as_written][]", person_descriptor_as_written.name, id: '' %>
                                                                &nbsp;<img src='/assets/delete.png' alt='Delete icon' class='delete_icon click_remove_field_level1' jq_tag_type='input'>
                                                            </div>
                                                        <% end %>
                                                    </div>
                                                </td>
                                            </tr>


                                            <%# Person Note %>
                                            <tr>
                                                <th>
                                                    Note:
                                                    <img src="/assets/plus_sign.png" alt="plus icon" class="plus_icon click_multiple_field_button_level2" jq_attributes="related_agents_attributes" jq_index="<%= index1 %>" jq_type="person_note"/>
                                                </th>
                                                <td>
                                                    <div class="field_group grey_box">
                                                        <% related_person.db_person_notes.each_with_index do |person_note, index2| %>
                                                            <div class="field_single">
                                                                <%= text_area_tag "entry[related_agents_attributes][" + index1.to_s + "][person_note][]", person_note.name, id: '' %>
                                                                &nbsp;<img src='/assets/delete.png' alt='Delete icon' class='delete_icon click_remove_field_level1' jq_tag_type='textarea'>
                                                            </div>
                                                        <% end %>
                                                    </div>
                                                </td>
                                            </tr>

                                            <%# Person Related Place %>
                                            <tr>
                                                <th>
                                                    Related Place:
                                                    <img src="/assets/plus_sign.png" alt="plus icon" class="plus_icon click_person_related_field_button" jq_attributes="related_agents_attributes" jq_index="<%= index1 %>" jq_type="person_related_place"/>
                                                </th>
                                                <td>
                                                    <div class="field_group grey_box">
                                                        <% related_person.db_person_related_places.each do |person_related_place| %>
                                                            <div class="field_single">
                                                                <%= select_tag "entry[related_agents_attributes][" + index1.to_s + "][person_related_place][]", options_for_select(@related_place_list, person_related_place.name), class: 'related_place', id: '' %>
                                                                <img src='/assets/delete.png' alt='Delete icon' class='delete_icon_select click_remove_field_level1' jq_tag_type='select'>
                                                            </div>
                                                        <% end %>
                                                    </div>
                                                </td>
                                            </tr>

                                            <input type="hidden" id="hidden_field" name="entry[related_agents_attributes][<%= index1.to_s %>][rdftype]" value="<%= related_person.add_rdf_types_p %>">

                                          <%# Person Related Person %>
                                          <tr>
                                            <th>
                                              Related Person:
                                              <img src="/assets/plus_sign.png" alt="plus icon" class="plus_icon click_person_related_field_button" jq_attributes="related_agents_attributes" jq_index="<%= index1 %>" jq_type="person_related_person"/>
                                            </th>
                                            <td>
                                              <div class="field_group grey_box">
                                                <% related_person.db_person_related_people.each do |person_related_person| %>
                                                    <div class="field_single">
                                                      <%= select_tag "entry[related_agents_attributes][" + index1.to_s + "][person_related_person][]", options_for_select(@related_person_list, person_related_person.name), class: 'related_agent', id: '' %>
                                                      <img src='/assets/delete.png' alt='Delete icon' class='delete_icon_select click_remove_field_level1' jq_tag_type='select'>
                                                    </div>
                                                <% end %>
                                              </div>
                                            </td>
                                          </tr>

                                        </table>

                                        <img src='/assets/delete.png' class='delete_icon click_remove_field_level2' params_type='related_agents' alt='Delete icon'>

                                        <input type="hidden" id="hidden_field" name="entry[related_agents_attributes][<%= index1.to_s %>][person_id]" value="<%= related_person.person_id %>">
                                    </div>

                                <% end %>
                            </div>
                        </td>
                    </tr>

                    <tr>
                      <th colspan='2'>
                        <div id='entry_menubar'>

                          <span class='edit_button'>
				       <% if @form_type == 'NEW' %>
                        <% @db_entry.add_rdf_types.each do |rdftype| %>
                            <input type="hidden" id="hidden_field" name="[rdftype][]" value="<%= rdftype %>">
                        <% end %>
                                <%= f.submit 'Submit' %>
                      <%= f.submit 'Continue', :onclick => "return confirm('" + button_str + "')" %>
                                <%= f.submit 'Back' %>
				  <% else %>
				    <%= f.submit 'Update' %>
                        <% if @is_last_entry == true && @folio_continues_id == '' %>
                      <%= f.submit 'Continue', :onclick => "return confirm('" + button_str + "')" %>
                    <% end %>
                      <%= f.submit 'Back to View' %>
				  <% end %>
				</span>
                        </div>
                      </th>
                    </tr>

                </table>
            </div>
        </div>
    <% end %>

</div>

<div style='clear: both'></div>

<% if @errors != nil && @errors != '' %>
    <script type="text/javascript">
        hide_elements_when_errors();
    </script>
<% end %>
