<div class='tab1'>

  <% if @errors != nil && @errors != '' %>
      <div class='message2 error' style="font-size: 1em">
        <%
           # Split the error string by '|' to get the individual errors
           # If the error includes the text 'Length' display the maximum length error
           # else display the mandatory field error
           err = @errors.split('|')
           err.each do |e|
             if e != ''
               if e =~ /Length/
                 e2 = e.split('_')[0]
                 max_length = e.split('_')[1]
                 max_length = max_length.sub 'Length', ''
        %>
                    <div style='margin-bottom: 6px'>'<%= e2 %>' exceeds maximum length (<%= max_length %>)</div>
                <%
                   else
                %>
                    <div style='margin-bottom: 6px'>Please enter a value for '<%= e %>'</div>
                <%
                   end
                   end
                   end
                %>
      </div>
  <% end %>

  <%= form_for @entry do |f| %>

      <%= f.hidden_field :register, :value => session[:register_choice] %>
      <%= f.hidden_field :folio, :value => session[:folio] %>
      <%= f.hidden_field :folio_face, :value => session[:folio_face] %>

      <div class='field'>

        <table cellspacing='0'>

          <tr class='noth'>
            <th colspan='2' id='entry_menu'>
              <% i = 0 %>
              <ul>
                <li style='margin-left: 5px'></li>
                <% if @entry.new_record? %>
                    <% @entries.each do |entry| %>
                        <% i = i + 1 %>
                        <li>
					  <span class='nohighlight' style='color: #888888'>
					    <%= link_to entry.entry_no, entry_path(entry) %>
					  </span>
                        </li>
                    <% end %>
                    <li>
                      <span class='highlight' style='color: #9C6B17'>
					    New Entry
					  </span>
                    </li>
                <% else %>
                    <% @entries.each do |entry| %>
                        <% i = i + 1 %>
                        <li>
                          <% if entry.id == @entry.id %>
						  <span class='highlight' style='color: #9C6B17'>
						    <%= entry.entry_no %>
						  </span>
                          <% else %>
						  <span class='nohighlight' style='color: #888888'>
						    <%= link_to entry.entry_no, edit_entry_path(entry) %>
						  </span>
                          <% end %>
                        </li>
                    <% end %>
                    <li>
                    <span class='nohighlight' style='color: #9F9F9F'>
				      <%= link_to 'New Entry', new_entry_path, {:title => 'Create new entry'} %>
					</span>
                    </li>
                <% end %>
              </ul>
            </th>
          </tr>

          <tr>
            <th colspan='2'>
              <div id='entry_menubar'>
                <span class='edit_button'>
				<% if @entry.new_record? %>
				<%= f.submit 'Submit' %>
                      <a href='<%= entries_path %>'><input type='button' value='Back' style='color: black'/></a>
				<% else %>
				<%= f.submit 'Update' %>
                      <a href='<%= entry_path(@entry) %>'><input type='button' value='Back to View' style='color: black'/></a>
				<% end %>
				</span>
              </div>
            </th>
          </tr>

          <%# Entry No (is this the Entry Reference?) %>
          <tr>
            <th style="width: 150px">Entry No*</th>
            <td>
              <%= f.text_field :entry_no %>
            </td>
          </tr>

          <%# Access Provided By %>
          <tr>
            <th>Access Provided By</th>
            <td>
              <%= f.text_field :access_provided_by %>
            </td>
          </tr>

          <%# Entry Part %>
          <tr>
            <th>Entry Part</th>
            <td>
              <%= f.text_field :entry_part %>
            </td>
          </tr>

          <%# Is Blank %>
          <tr>
            <th>Is Blank*</th>
            <td>
              <%
                 @is_blank_list = [['--- select ---', ''], ['yes', 'yes'], ['no', 'no']]
              %>
              <%= f.select :is_blank, @is_blank_list %>
            </td>
          </tr>

          <%# Format %>
          <tr>
            <th>Format</th>
            <td>
              <%
                 @format_list = @read_format.collect { |element| [element['label']] }
                 @format_list.unshift(['--- select ---', ''])
              %>
              <%= f.select :format, @format_list %>
            </td>
          </tr>

          <%
             @language_list = @read_language.collect { |l| [l["label"]] }
          %>

          <%# Language %>
          <tr>
            <th>Language
              <img src="/assets/plus_sign.png" class="plus_icon add_field" jq_type="language" jq_languages="<%=@language_list%>"/>
            </th>
            <td>
              <div class="field_group">
                <% @entry.language.each do |language| %>
                    <div class="field_single" style="padding: 4px 0px">
                      <%= select_tag 'entry[language][]', options_for_select(@language_list.collect{ |element| [element[0]] }.insert(0, ["--- select ---", ""]), language) %>
                      <img alt="Delete icon" src="/assets/delete.png" class="delete_icon remove_field" jq_tag_type="select">
                    </div>
                <% end %>
              </div>
            </td>
          </tr>

          <%# Note %>
          <tr>
            <th>Note
              <img src="/assets/plus_sign.png" class="plus_icon add_field" jq_type="note" />
            </th>
            <td>
              <div class="field_group">
                <% @entry.note.each do |note| %>
                    <div class="field_single" style="padding: 4px 0px">
                      <%= text_field_tag "entry[note][]", note, class: 'input_box', id: '' %>
                      <%= image_tag('delete.png', class: 'delete_icon remove_field') %>
                    </div>
                <% end %>
              </div>
            </td>
          </tr>

          <%# Editorial Note %>
          <tr>
            <th>Editorial Note
              <img src="/assets/plus_sign.png" class="plus_icon add_field" jq_type="editorial_note" />
            </th>
            <td>
              <div class="field_group">
                <% @entry.editorial_note.each do |editorial_note| %>
                    <div class="field_single" style="padding: 4px 0px">
                      <%= text_field_tag "entry[editorial_note][]", editorial_note, class: 'input_box', id: '' %>
                      <%= image_tag('delete.png', class: 'delete_icon remove_field') %>
                    </div>
                <% end %>
              </div>
            </td>
          </tr>

          <%# Marginal Note %>
          <tr>
            <th>Marginal Note
              <img src="/assets/plus_sign.png" class="plus_icon add_field" jq_type="marginal_note" />
            </th>
            <td>
              <div class="field_group">
                <% @entry.marginal_note.each do |marginal_note| %>
                    <div class="field_single" style="padding: 4px 0px">
                      <%= text_field_tag "entry[marginal_note][]", marginal_note, class: 'input_box', id: '' %>
                      <%= image_tag('delete.png', class: 'delete_icon remove_field') %>
                    </div>
                <% end %>
              </div>
            </td>
          </tr>

          <%# Is Referenced By %>
          <tr>
            <th>Is Referenced By
              <img src="/assets/plus_sign.png" class="plus_icon add_field" jq_type="is_referenced_by" />
            </th>
            <td>
              <div class="field_group">
                <% @entry.is_referenced_by.each do |is_referenced_by| %>
                    <div class="field_single" style="padding: 4px 0px">
                      <%= text_field_tag "entry[is_referenced_by][]", is_referenced_by, class: 'input_box', id: '' %>
                      <%= image_tag('delete.png', class: 'delete_icon remove_field') %>
                    </div>
                <% end %>
              </div>
            </td>
          </tr>

          <%# Subject %>
          <tr>
            <th>Subject
              <img src="/assets/plus_sign.png" class="plus_icon add_field" jq_type="subject"/>
            </th>
            <td>
              <div class="field_group">
                <% @entry.subject.each do |subject| %>
                    <div class="field_single" style="padding: 4px 0px">
                      <%= text_field_tag "entry[subject][]", subject, class: 'input_box', id: '' %>
                      <%= image_tag('delete.png', class: 'delete_icon remove_field') %>
                    </div>
                <% end %>
              </div>
            </td>
          </tr>

          <%# Related Place %>
          <tr>

            <th>Place:
              <img src="/assets/plus_sign.png" class="plus_icon add_field_place" />
            </th>

            <td class="tab2">

              <div class="field_group">

                <% @entry.related_places.each_with_index do |related_place, index1| %>

                    <div class="field_single">

                      <table cellspacing="0" class="tab3">

                        <tr>
                          <th style="width: 100px">
                            As Written*
                            <img src="/assets/plus_sign.png" class="plus_icon add_field_3" jq_attributes="related_places_attributes" jq_index="<%=index1%>" jq_type="place_as_written" />
                          </th>
                          <td>
                            <div class="field_group background_gray" style="padding: 4px 5px; border: 1px solid silver; min-height: 18px">
                              <% related_place.place_as_written.each_with_index do |place_as_written, index2| %>
                                  <div class="field_single" style="padding: 4px 0px">
                                    <%= text_field_tag "entry[related_places_attributes][" + index1.to_s + "][place_as_written][]", place_as_written, class: 'input_box', id: '' %>
                                    &nbsp;<img src='/assets/delete.png' alt='Delete icon' class='delete_icon remove_field'>
                                  </div>
                              <% end %>
                            </div>
                          </td>
                        </tr>

                        <tr>
                          <th>
                            Place Type
                            <img src="/assets/plus_sign.png" class="plus_icon add_field_3" jq_attributes="related_places_attributes" jq_index="<%=index1%>" jq_type="place_type"  />
                          </th>
                          <td>
                            <div class="field_group background_gray" style="padding: 4px 5px; border: 1px solid silver; min-height: 18px">
                              <% related_place.place_type.each_with_index do |place_type, index2| %>
                                  <div class="field_single" style="padding: 4px 0px">
                                    <%= text_field_tag "entry[related_places_attributes][" + index1.to_s + "][place_type][]", place_type, class: 'input_box', id: '' %>
                                    &nbsp;<img src='/assets/delete.png' alt='Delete icon' class='delete_icon remove_field'>
                                  </div>
                              <% end %>
                            </div>
                          </td>
                        </tr>

                        <tr>
                          <th>Same As*</th>
                          <td>
                            <%= text_field_tag "entry[related_places_attributes][" + index1.to_s + "][place_same_as]", related_place.place_same_as, class: 'input_box', id: '', style: 'width: 100%' %>
                          </td>
                        </tr>

                        <tr>
                          <th>
                            Note
                            <img src="/assets/plus_sign.png" class="plus_icon add_field_3" jq_attributes="related_places_attributes" jq_index="<%=index1%>" jq_type="place_note" />
                          </th>
                          <td>
                            <div class="field_group background_gray" style="padding: 4px 5px; border: 1px solid silver; min-height: 18px">
                              <% related_place.place_note.each_with_index do |place_note, index2| %>
                                  <div class="field_single" style="padding: 4px 0px">
                                    <%= text_field_tag "entry[related_places_attributes][" + index1.to_s + "][place_note][]", place_note, class: 'input_box', id: '' %>
                                    &nbsp;<img src='/assets/delete.png' alt='Delete icon' class='delete_icon remove_field'>
                                  </div>
                              <% end %>
                            </div>
                          </td>
                        </tr>

                      </table>

                      <img src='/assets/delete.png' class='delete_icon remove_field_2' params_type='related_places' alt='Delete icon'>

                      <input type="hidden" id="hidden_field" name="entry[related_places_attributes][<%= index1.to_s %>][id]" value="<%= related_place.id %>">
                    </div>

                <% end %>
              </div>
            </td>
          </tr>

          <%# Related Person %>
          <tr>

            <th>Place:
              <img src="/assets/plus_sign.png" class="plus_icon add_field_person" />
            </th>

            <td class="tab2">

              <div class="field_group">

                <% @entry.related_people.each_with_index do |related_person, index1| %>

                    <div class="field_single">

                      <table cellspacing="0" class="tab3">

                        <tr>
                          <th style="width: 100px">
                            As Written*
                            <img src="/assets/plus_sign.png" class="plus_icon add_field_3" jq_attributes="related_people_attributes" jq_index="<%=index1%>" jq_type="person_as_written" />
                          </th>
                          <td>
                            <div class="field_group background_gray" style="padding: 4px 5px; border: 1px solid silver; min-height: 18px">
                              <% related_person.person_as_written.each_with_index do |person_as_written, index2| %>
                                  <div class="field_single" style="padding: 4px 0px">
                                    <%= text_field_tag "entry[related_people_attributes][" + index1.to_s + "][person_as_written][]", person_as_written, class: 'input_box', id: '' %>
                                    &nbsp;<img src='/assets/delete.png' alt='Delete icon' class='delete_icon remove_field'>
                                  </div>
                              <% end %>
                            </div>
                          </td>
                        </tr>

                      </table>

                      <img src='/assets/delete.png' class='delete_icon remove_field_2' params_type='related_people' alt='Delete icon'>

                      <input type="hidden" id="hidden_field" name="entry[related_people_attributes][<%= index1.to_s %>][id]" value="<%= related_person.id %>">
                    </div>

                <% end %>
              </div>
            </td>
          </tr>

          <tr>
            <th colspan='2'>
              <div id='entry_menubar'>
                <span class='editButton'>
				<% if @entry.new_record? %>
				<%= f.submit 'Submit' %>
                      <a href='<%= entries_path %>'><input type='button' value='Back' style='color: black'/></a>
				<% else %>
				<%= f.submit 'Update' %>
                      <a href='<%= entry_path(@entry) %>'><input type='button' value='Back to View' style='color: black'/></a>
				<% end %>
				</span>
              </div>
            </th>
          </tr>

        </table>
      </div>
  <% end %>
</div>
<div style='clear: both'></div>

<% if @errors != nil && @errors != '' %>
    <script type="text/javascript">
        hide_elements_when_errors()
    </script>
<% end %>
