<% context_path = ENV["CONTEXT_PATH"] %>

<% if session[:folio_id] != '' %>

    <div id="image_header">

      <%
         # Get the folio title and display at the top of the popup
         terms = TermsBase.new('subauthority')
         folio_title = terms.get_str_from_id(session[:folio_id], 'preflabel_tesim')
         folio_title = folio_title
      %>

      <%= folio_title %>

    </div>

    <div id="image_frame" style="text-align: center">

      <%# Display OpenSeadragon image here %>
      <div id="location1" style="background-color: black"></div>

      <div id="image_footer">

        <div style="float: left; padding-left: 110px; padding-top: 6px">

          <% current_folio = session[:folio_id] %>

          <%# Display '<' button or make it disabled if is the first folio %>
          <% if current_folio == session[:first_folio_id] %>
              <%= button_to "<", {}, :style => 'margin-right: 5px', :disabled => 'true' %>
          <% else %>
              <%= button_to "<", entries_path, :method => "get", params: {:small_zoom_action => 'prev_tesim'}, :style => 'margin-right: 5px', :title => 'previous folio' %>
          <% end %>

          <%# Display '>' button or make it disabled if is the last folio %>
          <% if current_folio == session[:last_folio_id] %>
              <%= button_to ">", {}, :disabled => 'true' %>
          <% else %>
              <%= button_to ">", entries_path, :method => "get", params: {:small_zoom_action => 'next_tesim'}, :title => 'next folio' %>
          <% end %>
        </div>

        <div style="float: left; margin-left: 70px"><%= link_to image_tag('magnifying_glass.png', :alt => 'magnifying glass icon', :class => 'icon', :style => 'position: relative; top: 7px', :title => 'Image zoom'), '#', :onclick => "popup('#{context_path}/image_zoom_large', 'image_zoom_large'); return false", :title => "" %></div>

        <div style="clear: both"></div>
      </div>
    </div>

    <div style="clear: both"></div>

    <% context_path = ENV["CONTEXT_PATH"] %>

    <% if session['alt_image'] != [] %>
        <div style="margin-top: 20px; text-align: center">
            <em><%= link_to "View UV image", "#", :onclick => "popup('#{context_path}/image_zoom_large/alt', 'image_zoom_large'); return false" %></em>
            <%= link_to image_tag('magnifying_glass.png', :alt => 'magnifying glass icon', :class => 'icon', :style => 'position: relative; top: 7px', :title => 'Image zoom'), '#', :onclick => "popup('#{context_path}/image_zoom_large/alt', 'image_zoom_large'); return false", :title => "" %>
        </div>
    <% end %>

    <div style="margin-top: 20px; text-align: center">
      <em><%= link_to "Browse folios", "#", :onclick => "popup('#{context_path}/browse_folios?is_popup=true', 'browse_folios'); return false" %></em>
    </div>
<% end %>

<%# Display OpenSeadragon image at 'location1' above  %>
<script type="text/javascript">
    var viewer = OpenSeadragon({
        id: "location1",
        prefixUrl: "assets/seadragonImages/",
        autoResize: true,
        tileSources: "//dlib.york.ac.uk/cgi-bin/iipsrv.fcgi?DeepZoom=<%= session[:folio_image] %>.dzi",
        showNavigationControl: false
    });
</script>
