<div class="popup">

  <%
     if @group.new_record?
       start_text = 'Add'
       form_url = 'groups_path(@group)'
       form_method = ':post'
     else
       start_text = 'Edit'
       form_url = 'group_path(@group)'
       form_method = ':patch'
     end
  %>

  <div class="popup_title">
    <%= start_text %> group
  </div>

  <% if @error != nil && @error != '' %>
      <div class="popup_error"><%= @error.html_safe %></div>
  <% end %>

  <div>
    <%= link_to 'Go back to search page', groups_path(:search_term => @search_term, :group_field => @group_field) %>
  </div>
  <%= form_for @group, url: eval(form_url), method: eval(form_method), html: {style: 'margin-top: 15px; margin-bottom: 0px'} do |f| %>

      <div class='tab1'>

        <table cellspacing="0" style="width: 100%; font-size: 0.95em">

          <%# Name %>
          <tr>
            <th style="width: 150px">Name:</th>
            <td>
              <%= text_field_tag "group[name]", @group.name %>
            </td>
          </tr>

          <%# Dates %>
          <tr>
            <th>Dates:</th>
            <td>
              <%= text_field_tag "group[dates]", @group.dates %>
            </td>
          </tr>

          <%# Qualifier %>
          <tr>
            <th>Qualifier:</th>
            <td>
              <%= text_field_tag "group[qualifier]", @group.qualifier %>
            </td>
          </tr>

          <%# Type %>
          <tr>
            <th>Group Type:
              <%= image_tag 'plus_sign.png', :alt => 'plus icon', :class => 'plus_icon click_popup_multiple_field_button', :jq_type_1 => 'group', :jq_type_2 => 'group_type', :context_path => ENV['CONTEXT_PATH'] %>
            </th>
            <td>
              <div class="field_group">
                <% @group.group_type.each do |group_type| %>
                    <div class="field_single">
                      <%= text_field_tag 'group[group_type][]', group_type %>
                      <%= image_tag 'delete.png', :class => 'delete_icon click_remove_field_level1', :jq_tag_type => 'input' %>
                    </div>
                <% end %>
              </div>
            </td>
          </tr>

          <%# Same As %>
          <tr>
            <th>Same As:
              <%= image_tag 'plus_sign.png', :alt => 'plus icon', :class => 'plus_icon click_popup_multiple_field_button', :jq_type_1 => 'group', :jq_type_2 => 'same_as', :context_path => ENV['CONTEXT_PATH'] %>
            </th>
            <td>
              <div class="same_as">
                <% @group.same_as.each do |same_as| %>
                    <div class="field_single">
                      <%= text_field_tag 'group[same_as][]', same_as %>
                      <%= image_tag 'delete.png', :class => 'delete_icon click_remove_field_level1', :jq_tag_type => 'input' %>
                    </div>
                <% end %>
              </div>
            </td>
          </tr>

          <%# Related Authority %>
          <tr>
            <th>Related Authority:
              <%= image_tag 'plus_sign.png', :alt => 'plus icon', :class => 'plus_icon click_popup_multiple_field_button', :jq_type_1 => 'group', :jq_type_2 => 'related_authority', :context_path => ENV['CONTEXT_PATH'] %>
            </th>
            <td>
              <div class="field_group">
                <% @group.related_authority.each do |related_authority| %>
                    <div class="field_single">
                      <%= text_field_tag 'group[related_authority][]', related_authority %>
                      <%= image_tag 'delete.png', :class => 'delete_icon click_remove_field_level1', :jq_tag_type => 'input' %>
                    </div>
                <% end %>
              </div>
            </td>
          </tr>

          <%# Variant Names %>
          <%# Note that this is 'altlabel' in the model %>
          <tr>
            <th>Variant Names:
              <%= image_tag 'plus_sign.png', :alt => 'plus icon', :class => 'plus_icon click_popup_multiple_field_button', :jq_type_1 => 'group', :jq_type_2 => 'altlabel', :context_path => ENV['CONTEXT_PATH'] %>
            </th>
            <td>
              <div class="field_group">
                <% @group.altlabel.each do |altlabel| %>
                    <div class="field_single">
                      <%= text_field_tag 'group[altlabel][]', altlabel %>
                      <%= image_tag 'delete.png', :class => 'delete_icon click_remove_field_level1', :jq_tag_type => 'input' %>
                    </div>
                <% end %>
              </div>
            </td>
          </tr>

          <%# Note %>
          <tr>
            <th>Note:
              <%= image_tag 'plus_sign.png', :alt => 'plus icon', :class => 'plus_icon click_popup_multiple_field_button', :jq_type_1 => 'group', :jq_type_2 => 'note', :context_path => ENV['CONTEXT_PATH'] %>
            </th>
            <td>
              <div class="note">
                <% @group.note.each do |note| %>
                    <div class="field_single">
                      <%= text_field_tag 'group[note][]', note %>
                      <%= image_tag 'delete.png', :class => 'delete_icon click_remove_field_level1', :jq_tag_type => 'input' %>
                    </div>
                <% end %>
              </div>
            </td>
          </tr>
        </table>

        <%= hidden_field_tag 'search_term', @search_term %>
        <%= hidden_field_tag 'group_field', @group_field %>

        <%# Submit %>
        <p style="margin-top: 10px">
          <% if @group.new_record? %>
              <%= f.submit 'Submit' %>
          <% else %>
              <%= f.submit 'Update' %>
          <% end %>
        </p>

      </div>

      <div style="clear: both"></div>
  <% end %>
</div>
