<% if @person_name != nil && @person_name != '' %>
    <div class='popup_info'><%= @person_name %> has been added</div>
<% end %>

<% if @error != nil && @error != '' %>
    <div class='popup_error'><%= @error.html_safe %></div>
<% end %>


<div style="margin: 0px auto; width: 600px; border: 1px solid silver; min-height: 500px; margin-top: 0px; background-color: #E1E1E1">

  <div id="entry_menu" style="width: 600px; font-size: 0.8em; margin-top: 0px; border-bottom: 1px solid #acadb7;">
    <%
      search_highlight_class = ''
      new_person_highlight_class = ''
      if @type == nil || @type == 'search'
        search_highlight_class = 'highlight'
        new_person_highlight_class = 'noHighlight'
      else
        search_highlight_class = 'noHighlight'
        new_person_highlight_class = 'highlight'
      end
    %>
    <ul>
      <li style="margin-left: 5px"><%= link_to "Search People", person_popup_path({:type => 'search', :person_field => @person_field}), class: search_highlight_class %></li>
      <li style=""><%= link_to "Add Person", person_popup_path({:type => 'new_person', :person_field => @person_field}), class: new_person_highlight_class %></li>
    </ul>
  </div>

  <div>

    <% if @type == nil || @type == 'search' %>

        <div  class="popup_search">

          <%= form_tag person_popup_search_path do |f| %>

              <div class="search_box" style="">
                Enter Name:&nbsp;
                <%= text_field_tag 'search_term', nil, class: 'text_field_search', id: 'search_box', value: @search_term %>
                &nbsp;&nbsp;<%= submit_tag 'Search' %>
              </div>

              <input type="hidden" name="person_field" value="<%= @person_field %>" />

          <% end %>

          <div style="margin-top: 20px; margin-left: 2px">

            <%
               if @search_results_hash != nil && @search_results_hash != ''
            %>

                <strong>Results</strong>:

                <%
                   @search_results_hash.each do |element|
                     family_name = element[0]
                     id = element[1]
                %>
                    <div style="padding-top: 5px"><a href='#' onclick='post_value("<%= family_name %>", "<%= id %>", "<%= @person_field %>")'><%= family_name %></a></div>
            <%
                end
              end
            %>

            <script>
                window.onload = function () {
                    document.getElementById("search_box").focus();
                };
            </script>
          </div>
        </div>

    <% else %>

        <%# This adds the new person to the form and closes the page when the 'Submit and Add' button has been clicked %>
        <% if  @commit_person_name != nil && @commit_id != nil %>
            <script type="text/javascript">post_value("<%= @commit_person_name %>", "<%= @commit_id %>", "<%= @person_field %>")</script>
        <% end %>

        <%= form_for @person, url: person_popup_create_path, method: 'POST' do |f| %>

            <div class='tab1 popup_add'>

              <table cellspacing="0" style="width: 100%">

                <%# Family Name %>
                <tr>
                  <th style="width: 150px">*Family Name:</th>
                  <td>
                    <%= text_field_tag "person[family]", @person.family %>
                  </td>
                </tr>

                <%# Pre-Title %>
                <tr>
                  <th style="width: 150px">Pre-Title:</th>
                  <td>
                    <%= text_field_tag "person[pre_title]", @person.pre_title %>
                  </td>
                </tr>

                <%# Given Name %>
                <tr>
                  <th style="width: 150px">Given Name:</th>
                  <td>
                    <%= text_field_tag "person[given_name]", @person.given_name %>
                  </td>
                </tr>

                <%# Dates %>
                <tr>
                  <th>Dates:</th>
                  <td>
                    <%= text_field_tag "person[dates]", @person.dates %>
                  </td>
                </tr>

                <%# Title %>
                <tr>
                  <th>Title:</th>
                  <td>
                    <%= text_field_tag "person[post_title]", @person.post_title %>
                  </td>
                </tr>

                <%# Epithet %>
                <tr>
                  <th>Epithet:</th>
                  <td>
                    <%= text_field_tag "person[epithet]", @person.epithet %>
                  </td>
                </tr>

                <%# Same As %>
                <tr>
                  <th>Same As:
                    <img src="/assets/plus_sign.png" alt="plus icon" class="plus_icon click_popup_multiple_field_button" jq_type_1='person' jq_type_2="same_as"/>
                  </th>
                  <td>
                    <div class="same_as">
                      <% @person.same_as.each do |same_as| %>
                          <div class="field_single">
                            <%= text_field_tag 'person[same_as][]', same_as %>
                            <img alt="Delete icon" src="/assets/delete.png" class="delete_icon click_remove_field_level1" jq_tag_type="input">
                          </div>
                      <% end %>
                    </div>
                  </td>
                </tr>

                <%# Related Authority %>
                <tr>
                  <th>Related Authority:
                    <img src="/assets/plus_sign.png" alt="plus icon" class="plus_icon click_popup_multiple_field_button" jq_type_1='person' jq_type_2="related_authority"/>
                  </th>
                  <td>
                    <div class="field_group">
                      <% @person.related_authority.each do |related_authority| %>
                          <div class="field_single">
                            <%= text_field_tag 'person[related_authority][]', related_authority %>
                            <img alt="Delete icon" src="/assets/delete.png" class="delete_icon click_remove_field_level1" jq_tag_type="input">
                          </div>
                      <% end %>
                    </div>
                  </td>
                </tr>

                <%# Variant Names %>
                <%# Note that this is 'altlabel' in the model %>
                <tr>
                  <th>Variant Names:
                    <img src="/assets/plus_sign.png" alt="plus icon" class="plus_icon click_popup_multiple_field_button" jq_type_1='person' jq_type_2="altlabel"/>
                  </th>
                  <td>
                    <div class="field_group">
                      <% @person.altlabel.each do |altlabel| %>
                          <div class="field_single">
                            <%= text_field_tag 'person[altlabel][]', altlabel %>
                            <img alt="Delete icon" src="/assets/delete.png" class="delete_icon click_remove_field_level1" jq_tag_type="input">
                          </div>
                      <% end %>
                    </div>
                  </td>
                </tr>

              </table>

              <%# Submit %>
              <p>
                <%= f.submit 'Submit' %>
                <%= f.submit 'Submit and Add' %>
              </p>

            </div>

            <input type="hidden" name="person_field" value="<%= @person_field %>" />

        <% end %>

    <% end %>

  </div>

</div>