
<div class="popup popup_subject">

  <%
     # If this is a new record...
     if @concept.new_record?
       # The return path depends if the link was clicked on the index or add/edit pages
       if @go_back_id == 'none'
         title_text = 'Add Top-Level'
         go_back_path = 'subjects_path' # Go back to the 'index' page
       else
         title_text = 'Add'
         go_back_path = 'subject_path(@go_back_id)' # Go back to the 'show' page
       end
       form_url = 'subjects_path(@concept)'
       form_method = ':post'
     # ELse if this is an edited record...
     else
       title_text = 'Edit'
       form_url = 'subject_path(@concept.id)'
       form_method = ':patch'
       go_back_path = 'subject_path(@go_back_id)' # Go back to the 'show' page
     end
  %>

  <div class="popup_title">
    <%= title_text %> Subject
  </div>

  <% if @error != nil && @error != '' %>
      <div class="popup_error"><%= @error.html_safe %></div>
  <% end %>

  <div>
    <%= link_to 'Go back to list', eval(go_back_path), style: "font-style: italic" %>
  </div>

  <%= form_for @concept, url: eval(form_url), method: eval(form_method), html: {style: 'margin-top: 15px; margin-bottom: 0px'} do |f| %>

      <div class='tab1'>

        <table cellspacing="0" style="width: 100%; font-size: 0.95em">

          <%# Subject Name (preflabel) %>
          <tr>
            <th style="width: 50px">Subject:</th>
            <td>
              <%= text_field_tag "concept[preflabel]", @concept.preflabel %>
            </td>
          </tr>
          </tr>
          <th>Definition</th>
           <td>
             <%= text_field_tag "concept[definition]", @concept.definition %>
           </td>
          </tr>

        </table>

        <%# Submit %>
        <p style="margin-top: 10px">
          <% if @concept.new_record? %>
              <%= f.submit 'Submit' %>
              <%#= f.submit 'Submit and Close' %>
          <% else %>
              <%= f.submit 'Update' %>
          <% end %>
        </p>

        <%= hidden_field_tag 'go_back_id', @go_back_id %>

        <%# Set 'istopconcept' if there is no go_back_id, i.e. the add button was clicked on the index page %>
        <%# Else set 'broader' if 'add' is clicked from the show' page %>
        <% if @broader == nil %>
         <%= hidden_field_tag 'concept[istopconcept]', 'true' %>
        <% else %>
          <%= hidden_field_tag 'concept[broader][]', @broader %>
        <% end %>
      </div>

      <div style="clear: both"></div>

  <% end %>

</div>
