<div class="popup popup_subject">

  <%# Display title %>
  <div class="popup_title">Add / Edit / Delete Subjects</div>

  <%# Display errors %>
  <% if @error != nil && @error != '' %>
      <div class="popup_error"><%= @error %></div>
  <% end %>

  <%# Display link %>
  <div>
    <%= link_to 'Go back to subject list', subjects_path, style: "font-style: italic" %>
  </div>

  <div class="subjects">

    <table style="float: left">

      <%# Add, edit and delete subjects %>
      <%
         @top_level_list.each do |top_level_term|
      %>

          <tr>
            <td style="font-size: 1.4em">
              <%= top_level_term['label'] %>
            </td>
            <td style="width: 200px; padding: 2px">
              <%= button_to 'Add Sub-Heading', new_subject_path, params: {:go_back_id => top_level_term['id'], :broader => top_level_term['id']}, :method => :get, title: 'Add subject to this element', class: 'small_button' %>
              <%= button_to 'Edit', edit_subject_path(top_level_term['id']), params: {:go_back_id => top_level_term['id']}, :method => :get, title: 'Edit subject', style: 'margin-left: 5px', class: 'small_button' %>
              <%= button_to 'Delete', subject_path(top_level_term['id']), params: {:go_back_id => top_level_term['id']}, method: 'delete', title: 'Delete subject', class: 'small_button', style: 'margin-left: 5px', :data => {:confirm => "Are you sure you want to delete this subject'?"} %>
            </td>
          </tr>

          <%
             top_level_term[:elements].each do |second_level_term|
          %>
              <tr>
                <td class="subjects_level2">
                  <span style="margin-left: 30px"><%= second_level_term['label'] %></span></td>
                <td style="padding: 2px">
                  <%= button_to 'Add Sub-Heading', new_subject_path, params: {:go_back_id => top_level_term['id'], :broader => second_level_term['id']}, :method => :get, title: 'Add subject to this element', class: 'small_button' %>
                  <%= button_to 'Edit', edit_subject_path(second_level_term['id']), params: {:go_back_id => top_level_term['id']}, :method => :get, title: 'Edit subject', style: 'margin-left: 5px', class: 'small_button' %>
                  <%= button_to 'Delete', subject_path(second_level_term['id']), params: {:go_back_id => top_level_term['id']}, method: 'delete', title: 'Delete subject', class: 'small_button', style: 'margin-left: 5px', :data => {:confirm => "Are you sure you want to delete this subject'?"} %>
                </td>
              </tr>
              <%
                 second_level_term[:elements].each do |third_level_term|
              %>
                  <tr>
                    <td class="subjects_level3">
                      <span style="margin-left: 50px;"><%= third_level_term['label'] %></span></td>
                    <td style="padding: 2px">
                      <%= button_to 'Add Sub-Heading', new_subject_path, params: {:go_back_id => top_level_term['id']}, :method => :get, title: 'N/A', class: 'small_button', disabled: 'true' %>
                      <%= button_to 'Edit', edit_subject_path(third_level_term['id']), params: {:go_back_id => top_level_term['id']}, :method => :get, title: 'Edit subject', style: 'margin-left: 5px', class: 'small_button' %>
                      <%= button_to 'Delete', subject_path(third_level_term['id']), params: {:go_back_id => top_level_term['id']},  method: 'delete', title: 'Delete subject', class: 'small_button', style: 'margin-left: 5px', :data => {:confirm => "Are you sure you want to delete this subject'?"} %>
                    </td>
                  </tr>
              <%
                 end
                 end
                 end
              %>
    </table>
  </div>

  <div style="clear: both"></div>

</div>