<div class="landing_page">

    <table style="width: 100%">

        <tr>

            <%
               @reg_list.each_with_index do |pair, index|
                # Add a new row to the table if there are more than 5 registers
                if index.modulo(5).zero? %>
                    </tr>
                    <tr>
                <% end %>
                <td style="vertical-align: top">
                    <div>
                        <a href="/go_entries?register_id=<%= pair[0] %>&amp;register_name=<%=pair[1][0] %>"><%= image_tag get_thumb(pair[0]).gsub('/100,/','/200,/') %></a>
                    </div>
                    <div class="landing_page_text">
                        <strong><%= pair[1][0] %></strong><br/><%= pair[1][1] %>
                    </div>
                </td>
            <% end
            %>

        </tr>
    </table>
</div>