<div class="landing_page">
  <p>
    <%= link_to 'Search Person', '#', onclick: "person_popup('/person_popup'); return false;" %>
  </p>

  <table style="width: 100%">

    <tr>

        <%
          @reg_id_tesim_list.each_with_index do |element, index|

            # Add a new row to the table if there are more than 5 registers
            if index == 5
        %>
              </tr><tr>
        <%
            end
        %>

          <td>
            <div>
              <a href="/go_entries?register_id=<%= @reg_id_list[index] %>&amp;register_name=<%= @reg_id_tesim_list[index] %>"><%= image_tag "#{@reg_image_list[index]}" %></a>
            </div>
            <div class="landing_page_text">
              <strong><%= @reg_id_tesim_list[index] %></strong><br/><%= @reg_title_list[index] %>
            </div>
          </td>

        <% end %>
    </tr>

  </table>
</div>