<div class="popup" style="min-height: 500px">

  <div class="popup_title">View Element</div>

  <div><%= link_to "Go back to search page", admins_path, method: :get %></div>

  <div style="clear: both"></div>

  <div class='tab1 popup_view' style="margin-top: 10px">

    <table cellspacing="0" style="width: 100%; font-size: 0.95em">

      <%# Label %>
      <tr>
        <th style="width: 150px">*Label:</th>
        <td>
          <%= @concept.preflabel %>
        </td>
      </tr>

      <%# Alternate Label %>
      <tr>
        <th>Alternate Label:</th>
        <td>
          <%= @concept.altlabel %>
        </td>
      </tr>

      <%# Description %>
      <tr>
        <th>Description:</th>
        <td>
          <%= @concept.description %>
        </td>
      </tr>

    </table>
  </div>

  <div style="float: left"><%= button_to 'Edit', edit_admin_path(@concept), :method => :get, :class => 'buttonTo', style: 'margin-top: 10px' %>&nbsp;</div>

  <div style="clear: both"></div>

</div>
