
<div class="popup">

  <%
     if @place.new_record?
      start_text = 'Add'
      form_url = 'places_path(@place)'
      form_method = ':post'
    else
      start_text = 'Edit'
      form_url = 'place_path(@place)'
      form_method = ':patch'
    end
  %>

  <%# Display place title %>
  <div class="popup_title">
    <%= start_text %> Place
  </div>

  <%# Display place errors %>
  <% if @error != nil && @error != '' %>
      <div class="popup_error"><%= @error.html_safe %></div>
  <% end %>

  <%# Display 'Go Back' link %>
  <div>
    <%= link_to 'Go back to search page', places_path(:search_term => @search_term, :place_field => @place_field) %>
  </div>

  <%# Add / Edit place form %>
  <%= form_for @place, url: eval(form_url), method: eval(form_method), html: { style: 'margin-top: 15px; margin-bottom: 0px' } do |f| %>

      <div class='tab1'>

        <table cellspacing="0" style="width: 100%; font-size: 0.95em">

          <%# Place Name %>
          <tr>
            <th style="width: 150px">*Place Name:</th>
            <td>
              <%= text_field_tag "place[place_name]", @place.place_name %>
            </td>
          </tr>

          <%# Civil Parish or Township (place_ADM4) %>
          <tr>
            <th>Civil Parish or Township:</th>
            <td>
              <%= text_field_tag "place[parent_ADM4]", @place.parent_ADM4 %>
            </td>
          </tr>

          <%# Town, City or District (place_ADM3) %>
          <tr>
            <th>Town, City or District:</th>
            <td>
              <%= text_field_tag "place[parent_ADM3]", @place.parent_ADM3 %>
            </td>
          </tr>

          <%# County (place_ADM2) %>
          <tr>
            <th>County:</th>
            <td>
              <%= text_field_tag "place[parent_ADM2]", @place.parent_ADM2 %>
            </td>
          </tr>

          <%# Country (e.g. England) (place_ADM1) %>
          <tr>
            <th>Country (e.g. England):</th>
            <td>
              <%= text_field_tag "place[parent_ADM1]", @place.parent_ADM1 %>
            </td>
          </tr>

          <%# Country (parent_country) %>
          <tr>
            <th>Country:</th>
            <td>
              <%= text_field_tag "place[parent_country]", @place.parent_country %>
            </td>
          </tr>

          <%# Place Type (feature_code) %>
          <tr>
            <th>Place Type:
              <%= image_tag 'plus_sign.png', :alt => 'plus icon', :class => 'plus_icon click_popup_multiple_field_button', :jq_type_1 => 'place', :jq_type_2 => 'feature_code', :context_path => ENV['CONTEXT_PATH'] %>
            </th>
            <td>
              <div class="field_group">
                <% @place.feature_code.each do |feature_code| %>
                    <div class="field_single">
                      <%= text_field_tag 'place[feature_code][]', feature_code %>
                      <%= image_tag 'delete.png', :alt => 'delete icon', :class => 'delete_icon click_remove_field_level1', :jq_tag_type => 'input' %>
                    </div>
                <% end %>
              </div>
            </td>
          </tr>

          <%# Same As %>
          <tr>
            <th>Same As:
              <%= image_tag 'plus_sign.png', :alt => 'plus icon', :class => 'plus_icon click_popup_multiple_field_button', :jq_type_1 => 'place', :jq_type_2 => 'same_as', :context_path => ENV['CONTEXT_PATH'] %>
            </th>
            <td>
              <div class="same_as">
                <% @place.same_as.each do |same_as| %>
                    <div class="field_single">
                      <%= text_field_tag 'place[same_as][]', same_as %>
                      <%= image_tag 'delete.png', :alt => 'delete icon', :class => 'delete_icon click_remove_field_level1', :jq_tag_type => 'input' %>
                    </div>
                <% end %>
              </div>
            </td>
          </tr>

          <%# Related Authority %>
          <tr>
            <th>Related Authority:
              <%= image_tag 'plus_sign.png', :alt => 'plus icon', :class => 'plus_icon click_popup_multiple_field_button', :jq_type_1 => 'place', :jq_type_2 => 'related_authority', :context_path => ENV['CONTEXT_PATH'] %>
            </th>
            <td>
              <div class="field_group">
                <% @place.related_authority.each do |related_authority| %>
                    <div class="field_single">
                      <%= text_field_tag 'place[related_authority][]', related_authority %>
                      <%= image_tag 'delete.png', :alt => 'delete icon', :class => 'delete_icon click_remove_field_level1', :jq_tag_type => 'input' %>
                    </div>
                <% end %>
              </div>
            </td>
          </tr>

          <%# Variant Names %>
          <%# Note that this is 'altlabel' in the model %>
          <tr>
            <th>Variant Names:
              <%= image_tag 'plus_sign.png', :alt => 'plus icon', :class => 'plus_icon click_popup_multiple_field_button', :jq_type_1 => 'place', :jq_type_2 => 'altlabel', :context_path => ENV['CONTEXT_PATH'] %>
            </th>
            <td>
              <div class="field_group">
                <% @place.altlabel.each do |altlabel| %>
                    <div class="field_single">
                      <%= text_field_tag 'place[altlabel][]', altlabel %>
                      <%= image_tag 'delete.png', :alt => 'delete icon', :alt => 'delete icon', :class => 'delete_icon click_remove_field_level1', :jq_tag_type => 'input' %>
                    </div>
                <% end %>
              </div>
            </td>
          </tr>
            <%# Note %>
            <tr>
                <th>Note:
                  <%= image_tag 'plus_sign.png', :alt => 'plus icon', :class => 'plus_icon click_popup_multiple_field_button', :jq_type_1 => 'place', :jq_type_2 => 'note', :context_path => ENV['CONTEXT_PATH'] %>
                </th>
                <td>
                    <div class="note">
                        <% @place.note.each do |note| %>
                            <div class="field_single">
                                <%= text_field_tag 'place[note][]', note %>
                              <%= image_tag 'delete.png', :alt => 'delete icon', :class => 'delete_icon click_remove_field_level1', :jq_tag_type => 'input' %>
                            </div>
                        <% end %>
                    </div>
                </td>
            </tr>
        </table>

        <%# Hidden fields %>
        <%= hidden_field_tag 'search_term', @search_term %>
        <%= hidden_field_tag 'place_field', @place_field %>

        <%# Submit %>
        <p style="margin-top: 10px">
          <% if @place.new_record? %>
              <%= f.submit 'Submit' %>
          <% else %>
              <%= f.submit 'Update' %>
          <% end %>
        </p>

      </div>

      <div style="clear: both"></div>
      
  <% end %>

</div>
