
<div class="popup">

  <div class="popup_title">Places</div>

  <% if session[:place_field] == nil %>
  <div>
    <a href="<%= new_place_path %>"><input type = "button" value="Add Place"/></a>
    &nbsp;
    <%= link_to 'Go back to admin page', admins_path, style: "font-style: italic" %>
  </div>
  <% end %>

  <%= form_tag places_path, :method => :get, style: 'margin-top: 8px' do |f| %>
      <div class="search_box">
        <table>
          <tr>
            <td>Search Term:</td>
            <td><%= text_field_tag 'search_term', nil, class: 'text_field_search', id: 'search_box', value: session[:place_search_term] %></td>
            <td colspan='2'><%= submit_tag 'Search' %></td>
          </tr>
        </table>
      </div>
      <div style="clear: both"></div>
  <% end %>

  <div style="margin: 30px 0px 20px 2px">

    <%
       if @search_array != nil && @search_array != ''
    %>

        <div style="float: left; font-weight: bold; font-size: 1.1em">
          Results:
        </div>

        <div style="clear: both"></div>

        <div class="popup_search">

          <table border='1' style="width: 100%; font-size: 1.1em; margin-top: 10px">

            <tr>
              <th>Place Name</th>
              <th style="width: 60px">Edit</th>
              <th style="width: 60px">Delete</th>
            </tr>

            <%
               @search_array.each do |array_element|
                 id = array_element[0]
                 name = array_element[1]
            %>
                <tr>
                  <td>
                    <% if session[:place_field] != nil %>
                         <a href="#" title="Add this place to the form" onclick="post_value('<%= name %>', '<%= id %>', '<%= session[:place_field] %>')"><%= image_tag "popup_choice.png", class: "popup_choice" %></a>&nbsp;<%= name %>
                    <% else %>
                        <%= name %>
                    <% end %>
                  </td>
                  <td style="width: 100px; text-align: center">
                    <% if session[:place_field] == nil %>
                         <%= button_to 'Edit', edit_place_path(id), :method => :get, title: 'Edit element details' %>
                    <% else %>
                         N/A
                    <% end %>
                  </td>
                  <td style="width: 60px; text-align: center">
                    <% if session[:place_field] == nil %>
                    <%= button_to 'Delete', place_path(id), :method => :delete, title: 'Delete element', :data => {:confirm => "Are you sure you want to delete '#{name}'?"} %>
                    <% else %>
                        N/A
                    <% end %>
                  </td>
                </tr>
        <%
           end
           end
        %>

    </table>
    </div>

    <script>
        window.onload = function () {
            document.getElementById("search_box").focus();
        };
    </script>
  </div>

</div>
