<div class="popup popup_subject">

  <div class="popup_title">Place Exists in Entry</div>

  <div><%= link_to 'Go back to search page', places_path(@go_back_id, :search_term => @search_term, :place_field => @place_field) %></div>

  <div style="margin-top: 10px">
    The place <strong><%= @place_name %></strong> exists in one or more entries. Please remove it from the records displayed below (using the main interface) and then click on this button:
  </div>

  <div style="margin-top: 5px">
    <%= button_to 'Refresh', place_path(id), :method => :delete, params: { :search_term => @search_term, :place_field => @place_field }, title: "Delete '#{@place_name}'" %>
  </div>

  <div style="clear: both"></div>

  <hr/>

  <div style="margin-top: 10px; margin-left: 0px">
    <% @existing_location_list.each do |t| %>
        <div style="margin-top: 5px"><a href="javascript:void(0);" onClick="window.opener.location.href='/entries?id=<%= t[0] %>&amp;folio_id=<%= t[1] %>&amp;set_folio=true'"><%= t[2] %></a></div>
    <% end %>
  </div>
</div>