<!DOCTYPE html>

<html lang="en" class="no-js">

<head>
  <meta charset="utf-8"/>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <title>Archbishops&#39; Registers</title>
  <%= stylesheet_link_tag "application", media: "all" %>
  <%= javascript_include_tag "application" %>
</head>

<body>

<div id="container">

  <div id="header">

    <div id="header_text">
      <%= link_to "Archbishops&#39; Registers Editing Tool".html_safe, landing_page_path %>
    </div>

    <div style="float: right; margin-right: 10px; margin-top: 25px">
      <%= button_to 'Admin', '#', onclick: "popup('/admins?start=true', 'admin'); return false;" %>
      <%= button_to 'Logout', logout_path, :method => 'get', style: 'margin-left: 6px', :data => {:confirm => 'Are you sure you want to logout?'} %>
    </div>

  </div>

  <div id="navbar">

    <div style="float: left">
      <%= link_to image_tag('back_icon2.png', :class => 'home_icon', :title => 'Back to Registers'), landing_page_path %>
    </div>

    <div style="float: left">&nbsp;&nbsp;<strong>Current Register</strong>: <span style="font-size: 0.95em; color: #FFFFFF"><%= session[:register_name] %></span></div>

    <div style="float: left">
      <form name="myForm" id="choose_folio">

        <strong style="margin-left: 20px">Current Folio</strong>:

        <select name="folio_id" class="choose_folio"
         <% if controller.action_name.to_s != 'index' then %>disabled<% end %>>
          <option value="">--- select folio ---</option>
          <% @folio_list.each do |folio| %>
              <option value="<%= folio[0] %> "<% if session[:folio_id] == folio[0] then %>selected<% end %>><%= folio[1] %></option>
          <% end %>
        </select>

        <input type="hidden" name="set_folio" value="true"/>

      </form>
    </div>
  </div>

  <div id="main">
    <%= yield %>
  </div>

  <div style="clear: both"></div>

</div>

</body>
</html>

