<!DOCTYPE html>

<% context_path = ENV['CONTEXT_PATH'] %>

<html lang="en" class="no-js">

<head>
  <meta charset="utf-8"/>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <title>Archbishops&#39; Registers</title>
  <%= stylesheet_link_tag "application", media: "all" %>
  <%= javascript_include_tag "application" %>
</head>

<body>

<div id="container">

  <div id="header" style="border-bottom: 1px solid #898989; background: url('<%= context_path %>/assets/header.jpg') repeat-x scroll 0 50% #000000;">

    <div id="header_text">
      <%= link_to "Archbishops&#39; Registers Editing Tool".html_safe, landing_page_path %>
    </div>

    <% context_path = ENV['CONTEXT_PATH'] %>

    <div style="float: right; margin-right: 6px; margin-top: 25px">
      <%= button_to 'Admin', '#', onclick: "popup('#{context_path}/admins?start=true', 'admin'); return false;" %>
      <%= button_to 'Logout', logout_path, :method => 'get', style: 'margin-left: 6px', :data => {:confirm => 'Are you sure you want to logout?'} %>
    </div>

  </div>

  <!--<div id="navbar"></div>-->

  <div id="main" style="margin-top: 20px">
    <%= yield %>
  </div>

  <div style="clear: both"></div>

</div>

</body>
</html>

